<div class="container centered">
  <h5>
    Still playing music and doing hair at Kutt Upz in Morehead.
    <br>
    <br>
    I've always love to take friends or strangers sailing because it puts me in touch with God and it's a way to see through my eyes. Everyone on this earth needs to almost die so they can realize just how precious life is. Everything is amazing to me and I feel like very few deserve what they have. Living on the water is where I will always be, but sometimes I feel guilty being able to.
    <br>
    <br>
    I'm so lucky to be friends with my stepdaughters father!
    <br>
    <br>
    I wish I had a dime for every time someone said "That is one of the the best times I've ever had in my whole life" when taking someone sailing in the middle of the night.
    Being in the hair and music business, I have met so many people that I can't imagine any of them not being in my life. I lived aboard my sailboat for about 12 years on and off, and it has taught me a lot about rough seas and the knowledge of how to survive. I have seen so many things while out on the water, though I have no pictures on my camera, I have shared a few snapshots with God.
    I will never be ashamed to tell a friend that I love them, be it men, women, gay, straight, black or yellow.
    If anyone takes the time to read all this jibberish, I want you to know...if I die today, you will never leave my heart. Hey..... I'm planning on living forever anyway...I aint missin anything Jack!
  </h5>
</div>