
<div class="container centered">
  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      <h4>rmcduffy2016@gmail.com</h4>
      <br>
      <h4><a href="https://www.facebook.com/robert.mcduffy.3">Facebook</a></h4>
    </div>
  </div>
</div>