<div class="row centered">
  <div class="col-lg-12">
    <h1>Robert McDuffy</h1>
  </div>
</div>

<div class="row fixed-bottom">
  <div class="col-sm-6 mx-auto">
    <p id="notice"><%= notice %></p>
    <%= render :partial => "listservs/form" %>
  </div>
</div>