
  <div class="row centered">
    <div class="col-lg-6">
      <a href="https://open.spotify.com/album/3PS098UGUgb3wx8hvNNSf4"><img src="https://images-na.ssl-images-amazon.com/images/I/71y1%2BPXG%2BeL._SL1000_.jpg" class="center"></a>
    </div>
    <div class="col-lg-6">
      <a href="https://open.spotify.com/album/6IPF07SK3Exa6IFaIG8kwG"><img src="https://images-na.ssl-images-amazon.com/images/I/51xQooSBU3L._SX342_QL70_ML2_.jpg" class="center"></a>
    </div>
  </div>
    
