<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Robert Mcduffy's got a new event, <%= @event.name %>!</h1>
    <p>
      It will be taking place on <%= @event.date %> at <%= @event.time %> at <%= @event.place %>.<br>
    </p>
    <p>
      We hope to see you there!
    </p>
  </body>
</html>